header
    width: 100%
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15)
    margin-bottom: 10px

.site-header
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 80ch
    padding: 1ch 0
    margin: 0 auto
    align-items: baseline
    flex-wrap: wrap

    .description
        flex-grow: 2
        color: $post-meta-color
        font-weight: 130
        font-size: 0.8em

    a
        line-height: 1.5rem
        color: $header-color
        text-decoration: none
        font-style: normal

        :margin
            left: 1ch
            right: 1ch

        &:hover
            color: $header-color
            text-decoration: underline

        &.title
            font-size: 1.25em
