.post-list
    padding: 0
    list-style: none
    margin-left: 0
    font-family: $main-font

    > li
        margin-top: 1em

    h2
        margin-top: 0
        font-weight: 320
        font-size: 1.5rem
        text-rendering: optimizeLegibility
        line-height: 1em

    a
        display: block
        text-decoration: none
        &:hover
            text-decoration: underline

    .post-meta
        color: $post-meta-color
        margin-top: -.5em
        padding-bottom: 1.5em
        font-size: 1.3em
