<footer class="site-footer">
    <p>
        <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
            <i class="fa fa-rss"></i> rss
        </a>

        <a href="https://bsky.app/profile/lukaswirth.dev">
            <i class="fa fa-twitter"></i> veykril
        </a>

        <a href="https://hachyderm.io/@veykril">
            <i class="fa fa-mastodon"></i> veykril
        </a>

        <a href="https://github.com/veykril">
            <i class="fa fa-github"></i> veykril
        </a>

        {% if page.relative_path %}
            <a href="https://{{ config.extra.repo_url }}/blob/master/content/{{page.relative_path}}">
                <i class="fa fa-edit"></i> edit
            </a>
        {% endif %}
    </p>
</footer>
